@font-face {
  font-family: 'SourceSansPro';
  src: local('SourceSansPro'),
    url('/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

a {
  text-decoration: none;
}

body,
h1,
p {
  margin: 0;
}
